<div class="container py-lg-4">
  <div class="row">
    <div class="col-md-7">
      <div class="artwork-image">
        <button class="favorite-artwork">
          <svg width="24px" height="24px" stroke-opacity="0">
            <path style="fill:#fff;" d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"></path>
          </svg>
        </button>
        <!-- <img class="d-block w-100" src="{{s3Url}}static/heart/heart.JPG" alt="First slide"> -->
        <img class="d-block w-100" src="https://overflow-art.s3.us-east-2.amazonaws.com/static/heart/heart.JPG" alt="First slide">
      </div>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-9 col-sm-6">
          <h1 class="artwork-title">Heart</h1>
        </div>
        <div class="col-3 col-sm-6">
          <div class="artwork-size">Size: 27.25 H x 21.25 W x 7 in</div>
        </div>
      </div>
      <div class="artwork-artist">By: James Buckey</div>
      <div class="py-2"></div>
      <div class="artwork-stats">
        <h3 class="artwork-stats-label">Mediums:</h3>
        <span class="artwork-stats-field">Oil, Roots, and Braided Steel Rope  on Canvas</span>
      </div>
      <div class="artwork-stats">
        <h3 class="artwork-stats-label">Styles:</h3>
        <span class="artwork-stats-field">Dada, Minimalism</span>
      </div>
      <div class="artwork-stats">
        <h3 class="artwork-stats-label">Tags:</h3>
        <span class="artwork-stats-field">Contemporary, Brutalist</span>
      </div>
      <div class="artwork-stats">
        <h3 class="artwork-stats-label">Origin:</h3>
        <span class="artwork-stats-field">Cincinnati OH, United States</span>
      </div>
      <div class="artwork-retail">retail $1500</div>
      <div class="py-2"></div>
      <p class="artwork-description">A struggle captured. Heart looks at the uncomfortable effects personal fault holds on our lives. It's held oncortablly with and externally in social settings. It constatly pokes at us and binds our hearts. It is an uncommunicated presence in our lives. This weight can lie at the root of our conscience. The actions that lead to this are not nessisary and empower (data) meaninglessness to distract life.</p>
      <div class="py-4"></div>
      <button class="btn blue-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off">Add to Favorites 
        <svg class="svg-heart" stroke-opacity="0" viewBox="0 0 30 30">
          <path class="path-color" d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"></path>
        </svg>
      </button>
      <div class="py-3"></div>
      <button class="btn artwork-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off">Request Piece</button>
      <div class="py-3"></div>
      <button class="btn blue-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off">Add Subscription</button>
    </div>
  </div>
  <div class="py-4"></div>
</div>